.image-slider {
	> img {
		width: 100%;
	}
}

.sliding-control {
	position: relative;
	overflow: hidden;
	touch-action: none;

	> .caption {
		display: flex;
		justify-content: center;
		text-align: center;

		> span {
			flex: 1;
		}
	}

	> .marker {
		height: 1.2em;
		width: 2em;
		margin: auto;
		position: relative;

		> .labels {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-start;

			position: absolute;
			bottom: 0;

			> li {
				padding: 0 3em;
			}
		}

		> .labels:not(.-dragging) {
			transition: left 0.5s;
		}
	}
}


